
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top" id="container0">
	<a class="navbar-brand" href="#" id="navbar_brand_heading">
		<img src="{{ url_for('static', filename='img/web_crawler.svg') }}" alt="" id="navbar_image">
		<span id="navbar_image_label">LACERTA</span>
	</a>

	<div class="collapse navbar-collapse">
		<ul class="navbar-nav mr-auto" id="navbar_links">
			<li class="nav-item active">
				<a class="nav-link" href="#" id="nav_link_new_query">New-Query<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" id="nav_link_graph">Graph</a>
			</li>
		</ul>
	</div>
</nav>
