<style>

#container5 {
	/*border: 2px solid silver;*/
	color: black;
	background-color: azure;
	padding-left: 0px;
}

.graph_url_list {
	position: absolute;
	width: 100%;
	min-height: 75.5vh;
	height: 75.5vh;
	overflow-y: auto;
	padding-left: 19px;
	padding-right: 13px;
	padding-top: 10px;
	font-size: 15.5px;
	margin-bottom: 0px;
}

.graph_url_list_title {
	padding-right: 13px;
	text-align: center;
	text-decoration: underline;

}

.graph_url_list_item {
	width: 100%;
	padding-right: 13px;
	word-wrap: break-word;
	cursor: pointer;
}
.col-9 {
  flex: auto;
  max-width: 100%;
}
</style>